<div class="container-fluid pb-4">
  <div class="row">
    <div class="col-md-12">
    	<div class="background mt-4 mx-auto pt-5 pb-5 pl-5">
				<h1 class="text-center pt-4">〜Cafe list〜</h1>
				<div class="flex-wrap d-flex justify-content-start">
	    	<% @stores.each do |store| %>
	    		<%= link_to store_path(store) , class: "text-white" do %>
							<div class="card h5 ml-5 mt-5" style="width: 500px; border: solid 2px white;">
								<div class="card-img-top">
									<%= attachment_image_tag store, :image, :fill, 496, 300, format: 'jpg', fallback: "no_image.jpg", size:"496x300",style: "border-radius: 50px 50px 0 0;"  %>
								</div>
								<div class="card-body ml-5">
									<div class="card-text">
										<h2><%= store.store_name %></h2>
										<h4><%= store.phone_number %></h4>
										<h4><%= store.opening_hours %></h4>
										<h4><%= store.address %></h4>
										<h4><%= store.regular_holiday %></h4>
										<h4>30分 ¥<%= store.fee %></h4>
									</div>
								</div>
							</div>
					<% end %>
				<% end %>
			</div>
			</div>
		</div>
	</div>
</div>

