<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-12">
    	<div class="background mt-5 mx-auto pt-4 pb-5">
				<div class="title text-center pt-4">〜Search list〜</div>
				<div class="flex-wrap d-flex justify-content-start">
		    	<% @stores.each do |store| %>
		    		<%= link_to store_path(store) , class: "text-white" do %>
								<div class="card mt-4">
									<div class="card-img-top">
										<%= attachment_image_tag store, :image, format: 'jpg', fallback: "/images/no_image.jpg",class: "card-img-top" %>
									</div>
									<div class="card-body">
										<div class="card-text">
											<div class="card-text-name text-center"><%= store.store_name %></div>
											<div class="card-text-address">
												<i class="fas fa-map-marker-alt mr-3"></i><%= store.address %>
											</div>
											<div class="card-tag">
												<% store.type_list.each do |type| %>
													<span class="badge badge-info"><%= type %></span>
												<% end %><br/>
												<% store.city_list.each do |city| %>
													<span class="badge badge-info"><%= city %></span>
												<% end %>
											</div>
										</div>
									</div>
								</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

