<div class="container-fluid pb-4">
  <div class="row">
    <div class="col-md-12 ">
    	<div class="background mt-4 pt-4 pb-5">
    		<% if flash[:notice] %>
    			<div class="successfully-text text-info ml-5 pt-5"><%= flash[:notice] %></div>
    		<% end %>
				<div class="title text-center pt-4">〜Cafe list〜</div>
				<% @stores.each do |store| %>
					<%= link_to admin_store_path(store), class: "text-white" do %>
						<table class="table text-white" style="border-top: solid 2px white;">
							<tbody>
								<tr>
									<td><%= attachment_image_tag store, :image, format: 'jpg', fallback: "/images/no_image.jpg",class: "index-img" %>
									</td>
									<td class="align-middle text-center index-store-name"><%= store.store_name %></td>
									<td class="align-middle text-center index-store-address"><i class="fas fa-map-marker-alt mr-3"></i><%= store.address %></td>
									<td class="align-middle index-store-tag">
										<% store.type_list.each do |type| %>
											<span class="badge badge-info"><%= type %></span>
										<% end %><br/>
										<% store.city_list.each do |city| %>
											<span class="badge badge-info"><%= city %></span>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
					<% end %>
				<% end %>
				<%= link_to new_admin_store_path(@store) do %>
					<div class="btn btn-light btn-lg btn-block mt-5 mb-5 btn-admin-index"style= "border-radius: 50px;">New Post</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

