<div class="container-fluid pb-4">
  <div class="row">
    <div class="col-md-12 ">
    	<div class="background mt-4 pt-4 pb-5">
    		<% if flash[:notice] %>
    			<div class="successfully-text text-info ml-5 pt-4"><%= flash[:notice] %></div>
    		<% end %>
				<div class="title text-center pt-4">Cafe list<i class="fas fa-paw ml-3"></i></div>
				<% @stores.each do |store| %>
					<%= link_to admin_store_path(store), class: "text-white" do %>
						<table class="table table-index table-hover text-white">
							<tbody>
								<tr>
									<td class="align-middle mx-auto"><%= attachment_image_tag store, :image, format: 'jpg', fallback: "/images/no_image.jpg",class: "index-img" %>
									</td>
									<td class="align-middle text-center index-store-name"><%= store.store_name %></td>
									<td class="align-middle text-center index-store-address">
										<i class="fas fa-map-marker-alt mr-1"></i><%= store.address %></td>
									<td class="align-middle index-store-tag">
										<% store.type_list.each do |type| %>
											<span class="badge tag"><%= type %></span>
										<% end %><br/>
										<% store.city_list.each do |city| %>
											<span class="badge tag"><%= city %></span>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
					<% end %>
				<% end %>
				<%= will_paginate @stores, previous_label: '<', next_label: '>' %>
			</div>
		</div>
	</div>
</div>

